.form{
    display: flex;
    gap: 8px;
}
.input{
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin: 20px;
    padding: 10px;
    width: 100%;
     
}
.clearAll, .search {
    background: none;       /* 背景色をなくす */
    border: none;           /* 枠線をなくす */
    color: inherit;         /* 周囲の文字色に合わせる */
    font: inherit;          /* 周囲のフォントに合わせる */
    padding: 4px 8px;       /* クリックしやすさは確保 */
    cursor: pointer;     
}

